# dependencies
/node_modules

# next.js build output
/.next
/out

# env / secrets — NEVER commit these
.env
.env.local
.env*.local
.nf_env.json
*_env.json

# misc
*.log
.DS_Store
tsconfig.tsbuildinfo

# netlify local build artifacts
.netlify
